:root {
	--bgColor: #530d63;
	--fgColor: #5a5d96;
	--ColorLightest: #609ebc;
	--ColorPop: #bf0e84;

	--headerBackgroundColor: var(--percentagePurpleColorLighter);
	--headerTextColor: var(--fgColor);
	--textOnTheme: #ffffff;
	--textOffTheme: #000;
	--grayOnTheme: rgb(75, 75, 75);
	--grayOffTheme: rgb(150, 150, 150);
}
header {
	display: flex;
	align-items: center;
	justify-items: space-between;
	width: 100%;
	padding: 1rem 0;
}

body {
	background-color: var(--bgColor);
	color: var(--textOnTheme);
	text-align: center;
	height: 100vh;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--textOnTheme);
}
a:visited {
	color: var(--textOnTheme);
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.title h1 {
	font-family: "Libre Franklin", sans-serif;
	font-size: 13vw;
	margin: 0;
	letter-spacing: 6vw;
	text-align: center;
}

.title.title.subpage {
	flex-grow: 2;
}
.title.subpage h1 {
	font-size: 5vw;
	letter-spacing: 3vw;
}

@media screen and (min-width: 900px) {
	.title h1 {
		font-size: 7vw;
		letter-spacing: 3vw;
		margin: 0;
	}
	.title.subpage h1 {
		font-size: 3vw;
		letter-spacing: 2vw;
	}

	#jacob {
		padding-right: 3rem;
	}
	#watson {
		padding-left: 3rem;
	}
}

h2 {
	z-index: 3;
	color: var(--fgColor);
	background-color: white;
	border-radius: 25rem;
	padding: 1.5rem 2rem;
	font-family: "ubuntu", "san-serif";
	transition: 0.4s;
	width: 50%;
}
h2:hover {
	color: var(--textOnTheme);
	background-color: var(--grayOnTheme);
}

.home {
	padding: 0 1rem;
}

/* Footer */

footer {
	display: flex;
	align-self: center;
	justify-content: space-evenly;
	width: 50%;
	padding: 1rem;
}

footer a,
footer a img,
header a {
	transition: 0.4s;
}

footer a:hover,
header a:hover {
	color: var(--grayOnTheme);
}

footer a img:hover {
	filter: invert(70%);
}

.material-symbols-outlined {
	font-size: 64px;
}
