:root {
	--bgColor: #530d63;
	--fgColor: #5a5d96;
	--ColorLightest: #609ebc;
	--ColorPop: #bf0e84;

	--headerBackgroundColor: var(--percentagePurpleColorLighter);
	--headerTextColor: var(--fgColor);
	--textOnTheme: #ffffff;
	--textOffTheme: #000;
	--grayOnTheme: rgb(75, 75, 75);
	--grayOffTheme: rgb(150, 150, 150);
}

body {
	background-color: var(--bgColor);
	color: var(--textOnTheme);
	text-align: center;
	height: 100vh;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--textOnTheme);
}
a:visited {
	color: var(--textOnTheme);
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.title h1 {
	font-family: "Libre Franklin", sans-serif;
	font-size: 13vw;
	margin: 0;
	letter-spacing: 6vw;
}

@media screen and (min-width: 900px) {
	.title h1 {
		font-size: 7vw;
		letter-spacing: 3vw;
		margin: 0;
	}
	#jacob {
		padding-right: 3rem;
	}
	#watson {
		padding-left: 3rem;
	}
}

#skills {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

#skills a {
	background: linear-gradient(180deg, var(--bgColor) 0%, var(--fgColor) 10%, var(--fgColor) 90%, var(--bgColor) 100%);
	flex-grow: 2;
	width: 100%;
	display: grid;
	margin: 1rem 0rem;
}

#skills a div {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	align-self: center;
	justify-content: center;
}

h2 {
	z-index: 3;
	color: var(--fgColor);
	background-color: white;
	border-radius: 25rem;
	padding: 1.5rem 2rem;
	font-family: "ubuntu", "san-serif";
	transition: 0.4s;
	width: 50%;
}
h2:hover {
	color: var(--textOnTheme);
	background-color: var(--grayOnTheme);
}

/*slideshow modified from https://css-tricks.com/infinite-all-css-scrolling-slideshow/ */
.slideshow {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	z-index: 1;
}

.slideshow:hover {
	background-color: rgb(65, 65, 65);

	transition: 0.4s;
}

.slideshow > div {
	opacity: 0.3;
	z-index: 1;
	width: 7562px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
}

.slideshow.publicSpeakingSlide > div {
	background: url("../images/publicSpeakingScroll.png") repeat-x 0 100%;
	background-position: 0;
}

.slideshow .mover {
	transition: opacity 0.5s ease-out;
	animation: moveSlideshow 30s linear infinite;
}

@keyframes moveSlideshow {
	100% {
		transform: translateX(-50%);
	}
}

/* Footer */

footer {
	display: flex;
	align-self: center;
	justify-content: space-evenly;
	width: 50%;
	padding: 1rem;
}

footer a,
footer a img {
	transition: 0.4s;
}

footer a:hover {
	color: var(--grayOnTheme);
}

footer a img:hover {
	filter: invert(70%);
}

.material-symbols-outlined {
	font-size: 64px;
}

.square {
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	z-index: 1;
	transition: 5s;
	position: relative;
}

.devSlide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
}

.devSlide:hover {
	background: linear-gradient(
		180deg,
		var(--bgColor) 0%,
		rgb(65, 65, 65) 10%,
		rgb(65, 65, 65) 90%,
		var(--bgColor) 100%
	);
}

.opacityNone {
	opacity: 0;
}
.transitionNone {
	transition: 0s;
}
